{{define "header"}}
<header>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <a href="/">Home</a>
            </div>
            <div class="col col-lg-2">
                <a href="/setconfig">Config AWS</a>
            </div>
            <div class="col col-lg-2">
                <a href="/bucketslist">List Buckets</a>
            </div>
            <div class="col col-lg-2">
                <a href="/createbucketpage">Create Buckets</a>
            </div>
        </diiv>
    </div>
</header>
{{end}}